#入口程序类不能混淆，混淆会导致springboot启动不了
-keep class com.coolxer.Application {
        public static void main(java.lang.String[]);
     }

# 本项目的特定混淆策略
-keep class com.coolxer.aop.** {*;}
-keep class com.coolxer.controller.** {*;}
-keep class com.coolxer.dao.** {*;}
-keep class com.coolxer.model.** {*;}
